body 
{
    background-color: #DCE3E6;
}

div 
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1
{
    margin-left: auto;
    margin-right: auto;
    color: Maroon;
}

h2
{
    margin-left: auto;
    margin-right: auto;
    color: Maroon;
}

